<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.shuzhuangtuMapper">
	<select id="selectTecaherByid" parameterType="int"
		resultType="mokuai">
		SELECT mkname FROM teacher INNER JOIN mokuaigl on teacherid=mkglteachid
		INNER JOIN mokuai ON mkid=mkglid
	</select>
</mapper>